<div class="inner-bg">
    <div class="container">
            <div class="row" style="margin-top: -20px">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="form-box">
                    <div class="form-top">
                        <h3 style="color: #fff; text-align: center;">Add a New Device</h3>
                        <% if flash.has?(:message) %>
                          <p style="text-align: center; color:#f0ad4e;"><%= flash[:message] %> </p>
                        <% end %>
                    </div>
                  <div class="form-bottom">
                    <form  action="/devices" method="post" >
                      <div class="form-group">
                        <input type="text" name="name" placeholder="Name..." class="form-control" required>
                      </div>
                      <div class="form-group">
                        <input type="text" name="description" placeholder="Description..." class="form-control" >
                      </div>
                      <div class="form-group">
                        <select name="type_id" class="form-control">
                          <option value="" selected>Select Existing Device Type...</option>
                          <% @types.each do |type| %>
                            <option  name="type[name]" value="<%= type.id %>"><%= type.name %></option>
                          <%end%>
                        </select>
                      </div>
                      <div class="form-group" style="">
                        <input type="text" placeholder="or create a new Device Type here..." name="type[name]" class="form-control">
                      </div>
                        <button type="submit" class="btn btn-success">Add Device</button>
                    </form>
                  </div>
              </div>
            </div>
    </div>
</div>
