<div class="inner-bg">
    <div class="container">
            <div class="row" style="margin-top: -20px">
              <div class="col-sm-6 col-sm-offset-3">
                <div class="form-box">
                    <div class="form-top">
                        <h3 style="color: #fff; text-align: center;">Edit Device Type</h3>
                        <% if flash.has?(:message) %>
                          <p style="text-align: center; color:#f0ad4e;"><%= flash[:message] %> </p>
                        <% end %>
                    </div>
                  <div class="form-bottom">
                    <form  action="/types/<%=@type.id%>" method="post">
                      <div class="form-group">
                        <input type="hidden" id="hidden" name="_method" value="patch">
                        <input type="text" name="name" placeholder="Type Name..." class="form-control" value="<%=@type.name%>" required>
                      </div>
                      <button type="submit" class="btn btn-success">Edit Device Type</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>
